@import "../../../_ui/theme/theme.less";


.notification {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    width: 200px;
    background-color: var(--color-secondary);
    border-radius: 5px;
    color: var(--color-error);
    border: 1px solid var(--color-error);
    z-index: 100;
}