@import "../../../_ui/theme/theme.less";


.root {
    input {
        width: 100%;
        color: white;
        height: 40px;
        background-color: var(--color-panel);
        border: none;
        &:focus {
            outline:none;
        }
    }
}
